@charset "UTF-8";

.container {
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.item {

    background-color: purple;
    text-align: center;
    margin: 5px;
    font-size: 1.5em;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.flex-item-1{
    flex: 1;
}

h1, h2{ 
    font-family: Arial, Helvetica, sans-serif;
}