@charset "UTF-8";

body{
    font-family: monospace;
}

.container {
    max-width: 420px;
    height: 300px;
    margin: 0 auto;
    border: 1px solid #ccc;
    display: flex;
    flex-wrap: wrap;
    
    
}

.item {
    background-color: purple;
    text-align: center;
    margin: 5px;
    font-size: 1.5em;
    padding-right: 10px;
    flex: 1;
    
}

.item:first-child {
    padding-top: 20px;
}

h1, h2 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.stretch {
    align-content: stretch;
}

.flex-start {
    align-content: flex-start;
}

.flex-end {
    align-content: flex-end;
}

.center {
    align-content: center;
}

.space-between {
    align-content: space-between;
}

.space-around {
    align-content: space-around;
}