@charset "UTF-8";

body{
    font-family: monospace;
}

.container {
    max-width: 420px;
    margin: 0 auto;
    border: 1px solid #ccc;
    display: flex;
    
    
}

.item {
    background-color: purple;
    text-align: center;
    margin: 5px;
    font-size: 1.5em;
    padding-right: 10px;
    flex: 1;
    
}

.item:first-child {
    padding-top: 20px;
}

h1, h2 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.stretch {
    align-items: stretch;
}

.flex-start {
    align-items: flex-start;
}

.flex-end {
    align-items: flex-end;
}

.center {
    align-items: center;
}

.baseline {
    align-items: baseline;
}

.column {
    flex-direction: column;
}

.alinhamento-central {
    height: 400px;
    justify-content: center;
    align-items: center;
}

.alinhamento-central > .item {
    flex: 0;
    padding: 10px;

}