@charset "UTF-8";

body{
    font-family: monospace;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    display: flex;
    
}

.item {
    background-color: purple;
    text-align: center;
    margin: 5px;
    font-size: 1.5em;
    padding-right: 10px;
}

h1, h2 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.center {
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.flex {
    flex: 1;
    padding: 10px;
}

.column {
    flex-direction: column;
    min-height: 200px;
}