@charset "UTF-8";

/* ESTILOS GERAIS */
body {
	font-family: monospace;
	color: #333;
}

img {
	display: block;
	max-width: 100%;
	margin: 10px auto;
}

h1 {
	text-align: center;
	margin: 20px 0 0 0;
	font-size: 1.25em;
	font-weight: normal;
}

/* Flex Container */
.container {
	max-width: 400px;
	margin: 0 auto;
	display: flex;
	border: 1px solid #ccc;
}



/* Flex Item */
.item {
	margin: 5px;
	background: tomato;
	text-align: center;
	font-size: 1.5em;
	position: relative;
}

.shrink-1 {
    flex-shrink: 1;
    flex-grow: 1;
}
.shrink-3 {
    flex-grow: 1;
    flex-shrink: 3;
}

.shrink-1-basis {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 150px;
}

.shrink-0-basis {
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: 150px;
}

.flex-wrap {
    flex-wrap: wrap;

}

.shrink-3-basis {
    flex-shrink: 3;
    flex-grow: 1;
    flex-basis: 150px;
}